@keyframes marquee-dynamic {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--marquee-distance)));
    }
}

@keyframes marquee-dynamic-reverse {
    0% {
        transform: translateX(calc(-1 * var(--marquee-distance)));
    }
    100% {
        transform: translateX(0);
    }
}
